<footer class="site-footer">

    <div class="wrapper">

        <p>This random collection of content is &copy; Josh Rucker.</p>

        <nav>
            <ul>
                <li>
                    <a href="http://www.medium.com/@ifiamblue" target="_blank">
                        <i class="icon ion-android-globe"></i>
                        <span class="sr-only">Medium</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.twitter.com/ifiamblue" target="_blank">
                        <i class="icon ion-social-twitter"></i>
                        <span class="sr-only">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/joshrucker" target="_blank">
                        <i class="icon ion-social-linkedin"></i>
                        <span class="sr-only">LinkedIn</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.instagram.com/ifiamblue/" target="_blank">
                        <i class="icon ion-social-instagram"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
                <li>
                    <a href="https://www.github.com/jrrucker" target="_blank">
                        <i class="icon ion-social-github"></i>
                        <span class="sr-only">Github</span>
                    </a>
                </li>
            </li>
        </nav>

    </div>

</footer>

{% include google-analytics.html %}
