.about {

    @include flexbox();
    align-items: center;

    img {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        @include flex(0 0 120px);
    }

    p {
        font-style: italic;
        line-height: 1.4em;
        @include flex(1 1);
        margin-left: 2em;
    }
}
