.site-header {
    padding: 2em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid $accent-gray;
    font-family: $sans;
    font-size: .8em;

    nav {
        margin-left: 6px;
    }

    ul li {
        display: inline-block;
        font-weight: bold;

        &:after {
            content: "/";
            display: inline-block;
            margin: 0em 1em;
            color: #ccc;
            font-weight: normal;
        }

        &:last-child:after {
            content: "";
            margin: 0;
        }
    }

    a {
        color: $primary-text-color;
        &:hover {
            color: $primary-red;
            text-decoration: none;
        }
    }

    i {
        position: relative;
        top: 0px;
        color: #c00;
    }
}
