.post {

    h2 {
        font-family: $sans;
        font-weight: bold;
        font-size: 1.4rem;
        margin-top: 1.2em;
    }

    p {
        margin: 1.4em 0;
        font-size: 1em;
        line-height: 1.6em;
    }

    .post-header {
        margin: 2em 0 1.5em 0;
    }

    .post-title {
        font-family: $sans;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.2em;
        margin: 0 0 .2em 0;

        a {
            color: $primary-text-color;
            &:hover {
                color: #c00;
                text-decoration: none;
            }
        }
    }

    .post-meta {
        font-style: italic;
        font-size: .8em;
        margin: 0;
        color: #999;
        margin-bottom: .6em;
    }

}

// Post Page

.post-page .post {

    .post-title {
        font-size: 3rem;
    }

}

// Post Excertp

.post.post-excerpt {

    margin: 3em 0;

    p {
        margin: .8em 0;
    }

    .post-meta {
        margin: 0;
    }

}

