.post {

    // Post Page

    h2 {
        font-family: $sans;
        font-weight: bold;
        font-size: 1.4rem;
        margin-top: 1.2em;
    }

    .post-header {
        margin: 2em 0 1.5em 0;
    }

    &.post-page .post-title {
        font-size: 3rem;
    }

    // Post Excerpt

    &.post-excerpt {
        margin: 2em 0;
    }

    // Shared

    .post-title {
        font-family: $sans;
        font-weight: bold;
        font-size: 1.4rem;
        line-height: 1.2em;
        margin: 0 0 .2em 0;

        a {
            color: $primary-text-color;
            &:hover {
                color: #c00;
                text-decoration: none;
            }
        }
    }

    .post-meta {
        font-style: italic;
        font-size: .8em;
        margin: 0;
        color: #999;
        margin-bottom: 1em;
    }

    p {
        margin: 1em 0;
        font-size: .9em;
        line-height: 1.4em;
    }

}

