// Colors

$accent-gray: #eee;
$accent-med-gray: #999;
$primary-red: #c00;
$primary-text-color: #333;

// Fonts Stacks
$serif: 'garamond-premier-pro', 'Times New Roman', Times, serif;
$sans: 'acumin-pro', 'Hevetica Nueue', Hevetica, Arial;
